- @post.comments.gsub!(/#[\w]+/, '')
%article.main
  %h2.entry-title
    = link_to @post.title, @post.comments
  .entry-meta
    %span.meta-prep
      Posted #{time_ago_in_words(@post.pubDate)} ago
  .entry-content
    = raw @post.content_encoded