- unless photo[:src].blank?
  %li
    = link_to image_tag(photo[:src], :alt => photo[:title], :title => HTMLEntities.new.decode(strip_tags(photo[:summary]).sub(/tekniklr posted a photo:/, '').strip)), photo[:url]
    - if !photo[:title].blank?
      %p.caption
        = photo[:title]
    %p{:class => "when fade#{fade}"}
      = time_ago_in_words(photo[:published])+' ago'