%p
  The current iteration of my website design uses the following 
  technologies:

%ul
  %li
    = link_to 'Rails', 'http://rubyonrails.org/'
  %li
    = link_to 'WordPress', 'http://wordpress.org/'
  %li
    = link_to 'HTML5 Boilerplate', 'http://html5boilerplate.com/'
  %li
    = link_to 'sass', 'http://sass-lang.com/'
  