.bundle
.sass-cache/*
REVISION
db/*.sqlite3
log/*.log*
tmp/
.DS_Store
doc/api
doc/app
public/assets/
public/static/
public/icons/
public/recent_games/
public/favorite_things/
public/system/
public/tabletop_games/
public/remote_cache/
config/database.yml
.capistrano/
config/master.key
