.bundle
.sass-cache/*
REVISION
db/*.sqlite3
log/*.log*
tmp/
.DS_Store
doc/api
doc/app
public/static/
public/icons/
public/recent_games/
public/favorite_things/
public/system/
public/wpblog/
config/database.yml
config/secrets.yml
config/initializers/omniauth.rb
config/initializers/secret_token.rb
config/.amazonrc
config/initializers/lastfm.rb
config/initializers/twitter.rb
.capistrano/
