.bundle
.sass-cache/*
db/*.sqlite3
log/*.log*
tmp/
.DS_Store
doc/api
doc/app
public/wpblog/
public/wpblog.old/
public/wpblog.new/
config/database.yml
config/initializers/omniauth.rb
config/initializers/secret_token.rb
