= stylesheet_link_tag 'favorites'

:ruby
  links = [
    link_to('sort things', @favorite),
    link_to('favorites list', favorites_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Favorites navigation')

%h2 Editing favorite

= render 'form'

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Favorites navigation')
