= stylesheet_link_tag 'favorites'

:ruby
  links = [link_to('back', favorites_path)]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Favorites navigation')

%h1 New favorite

= render 'form'

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Favorites navigation')