= form_for @facet, remote: true do |f|
  %div.facet#facet
    = render 'form', f: f, facet: @facet
  .centered
    = submit_tag "Update", class: 'btn btn-primary'
  %ul.item_navigation
    %li
      = link_to 'cancel', @facet, remote: true