= stylesheet_link_tag 'facets'

:ruby
  links = [
    link_to('facets list', facets_path)
  ]
= scaffold_navigation(links: links, additional_class: 'mb-3', label: 'Facet navigation')

%h1 Editing facet

= render 'edit', facet: @facet

= scaffold_navigation(links: links, additional_class: 'mt-3', label: 'Facet navigation')