%footer#pagefoot{:role => 'contentinfo'}
  %div
    = link_to image_tag("tiny_octoflourish.png", :alt => 'colophon', :title => 'colophon', :width => 42, :height => 30), colophon_url
  %div
    = link_to "©2000-#{Time.now.year}, some rights reserved", colophon_url
    
#social
  %ul
    - cache @social_media do
      - for social_medium in @social_media do
        %li
          = link_to image_tag(social_medium.icon.url(:default), :alt => social_medium.name, :title => social_medium.name), social_medium.url