%footer#pagefoot{:role => 'contentinfo'}
  %p
    = link_to image_tag("tiny_octoflourish.png", :alt => 'acknowledgments', :title => 'acknowledgments'), acknowledgments_url
  %p
    copyleft © 2000-#{Time.now.year} Teri Solow
#contact
  .shortmail-compose-widget
  = javascript_include_tag 'http://shortmail.com/widgets/compose-widget.js?v=1'
  :javascript
    Shortmail.ComposeWidget({
      screenName: 'tekniklr'
    });
#social
  %ul
    - for social_medium in @social_media do
      %li
        = link_to image_tag(social_medium.icon.url(:default), :alt => social_medium.name, :title => social_medium.name), social_medium.url