%nav#navigation{:role =>'navigation'}
  .mobile
    %ul
      %li
        %a#toggle_navigation{:href => '#'} navigation
    %ul#single_column_navigation
      = render :partial => 'layouts/static/nav_main'
      = render :partial => 'layouts/static/nav_wp'
  .regular
    %ul
      = render :partial => 'layouts/static/nav_main'
    - if @wpblog
      %ul.subnav
        = render :partial => 'layouts/static/nav_wp'
    .break