%nav#navigation{:role =>'navigation'}
  .mobile
    %ul
      %li
        = link_to 'navigation', navigation_url
  .regular
    = render :partial => 'layouts/static/nav_main'
    - if @wpblog
      = render :partial => 'layouts/static/nav_sub'
    .break