/ # include all other javascript, which will be bundled
= yield :javascript

- if @wpblog
  = javascript_tag nonce: true do
    :plain
      $(document).ready(function(e) {
        var loading_img = new Image();
        loading_img.src = '/loading.gif';
      });