%div.tweet[tweet]
  = sanitize tweet.tweet, :tags => %w(a p)
  .center
    = link_to('Delete', {:controller => :twitter, :action => :destroy, :id => tweet.id}, :data => { :confirm => "Are you sure you want to delete '#{tweet.tw_text}'?" }, :method => :delete, :remote => true)