= render :partial => 'resume'

#footnote
  %div
    provided in the #{link_to 'hresume', 'http://microformats.org/wiki/hresume'} #{link_to 'microformat', 'http://microformats.org/'}
  %div
    = link_to 'view outside layout', resume_clean_url