= form_for @experience, remote: true do |f|
  #experience
    = render 'form', f: f, experience: @experience
  .centered
    = submit_tag "Update", class: 'btn btn-primary'
    %p
      = link_to 'Cancel', @experience, remote: true