= form_for @experience, remote: true do |f|
  %div.exp#experience
    = render 'form', f: f, experience: @experience
  .centered
    = submit_tag "Update"
    %p
      = link_to 'Cancel', @experience, remote: true