%h2 Editing experience

= form_for @experience do |f|
  %div.experience#experience
    = render 'form', :f => f, :experience => @experience
  .center
    = submit_tag "Update"

.center
  = link_to 'List', experiences_path