%div.link[link]
  = fields_for "links[]", link do |update|
    = render 'form', :f => update, :link => link
    = link_to('Delete', link, :confirm => "Are you sure you want to delete #{link.name}?", :method => :delete, :remote => true)