$('#notification').hide(300);
$('#notification').html('<div id="flash" class="notice"><%= escape_javascript(flash.discard(:notice)) %></div>');
$('#notification').show(300);
$('#links').append("<%= escape_javascript(render('link', :link => @link)) %>");
$('#new_link')[0].reset();