%article.main
  %h2.entry-title
    = link_to post.post_title, post.guid
  .entry-meta
    %span.meta-prep
      Posted #{time_ago_in_words(post.post_date)} ago
  .entry-content
    = raw post.post_content