.gravatar {
  float: right;
  margin: 1em 1em 1.5em 2em;
  max-width: 30%;
}

dl.contact, dl.info, dl.favorites {
  margin: auto;
  margin-bottom: 2em;
  dt {
    font-weight: bold;
    font-size: 120%;
    text-transform: lowercase;
  }
  dd {
    margin: .25em 0 2.5em 1em;
    text-align: justify;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
}

dl.favorites {
  dt {
    clear: both;
  }
  dd.spacey {
    height: 11em;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      border-right: 1px solid $faint_border_color;
      height: 11em;
      display: inline;
      margin: 0;
      text-align: center;
      padding: 0 .5em 0 .5em;
      float: left;
      width: 7em;
      overflow: hidden;
    }
    li:last-child {
      border: none;
    }
    img {
      margin-top: .5em;
      max-width: 100px;
      max-height: 100px;
    }
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
}