.gravatar {
  float: right;
  margin: 0 0 1em 1em;
}

dl.contact, dl.info, dl.favorites {
  width: 95%;
  margin: auto;
  margin-bottom: 2em;
  dt {
    font-weight: bold;
    font-size: 110%;
    text-transform: lowercase;
  }
  dd {
    margin: 0 0 1.5em 2.5em;
    text-align: justify;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
  }
}

dl.favorites {
  ol {
    margin-bottom: 1em;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
  }
}