@use "config";

.gravatar {
  float: right;
  margin: 1em 1em 1.5em 2em;
  max-width: 30%;
  img {
    @include config.rounded(0px, transparent, .75em, 0, none);
  }
}

dl.contact, dl.info, dl.favorites {
  margin: auto;
  margin-bottom: 2em;
  dt {
    font-weight: bold;
    font-size: 120%;
    text-transform: lowercase;
  }
  dd {
    margin: .25em 0 2.5em 1em;
    text-align: justify;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
  }
}

dl.favorites {
  dt {
    clear: both;
  }
  dd {
    img {
      @include config.rounded(0px, transparent, .75em, 0, none);
      margin-top: .5em;
      max-width: 100px;
      max-height: 100px;
    }
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    .card {
      width: 7.5em;
      margin: .5em;
      background-color: config.$page_bg;
      @include config.rounded(1px, config.$faint_border_color, .75em, 0, dashed);
    }
  }
}