// HTML5 boilerplate
@import "html5bp-normalize";
@import "html5bp-main";

// layout used in many places
@import "layout";
@import "scaffolds";
@import "forms";

// wordpress crap
@import "wordpress";

@import "dialog-polyfill";
// make sure that modal dialog overlays look consistent
dialog::backdrop, dialog + .backdrop {
  background: image-url('colorbox-overlay.png') repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}
dialog h2 {
  font-size: 125%;
  margin: 0em 0em .5em 0;
  padding: 0.25em 0 0.25em 0;
}
dialog p {
  max-width: 300px;
}