/* ******************************************************** */
/* configuration for all stylesheets                        */
/* ******************************************************** */

/* colors */
$the_color: #80Bdf9;
$page_bg: #292929;
$field_bg: $page_bg;
$content_bg: $page_bg;
$navigation_border_color: $the_color;
$navigation_bg: fade-out($the_color, .9);
$faint_border_color: adjust_color($the_color, $lightness: +10);
$med_border_color: adjust_color($the_color, $lightness: +5);
$border_color: adjust_color($the_color, $lightness: +0);
$heading_border_color: $navigation_border_color;
$base_font_color: #a9bbc6;
$navigation_font_color: $navigation_border_color;
$link_color: $the_color;
$hover_color: adjust_color($the_color, $lightness: +10);
$visited_link_color: adjust_color($link_color, $lightness: -30);

/* widths */
$mobile_threshhold: 550px;
$max_page_width: 56em;
$head_width: 100%;
$navigation_width: 100%;
$navigation_item_width: 10em;
$foot_width: 100%;
$contact_width: $max_page_width/5;

/* fonts */
$base_font_size: 18px; // maybe override boilerplate default (13px)
$content_font_family: Helvetica, "Helvetica Neue", Arial, sans-serif;
$heading_font_family: 'Maven Pro', Helvetica, "Helvetica Neue", Arial, sans-serif;
$navigation_font_family: 'Maven Pro', Helvetica, "Helvetica Neue", Arial, sans-serif;

/* ******************************************************** */
/* mixins                                                   */
/* ******************************************************** */

@mixin rounded($size: 2px, $color: $border_color, $radius: 1em, $padding: 2em, $style: dashed) {
  border: $size $style $color;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  padding: $padding;
}

@mixin transparent($opacity) {
  filter: alpha( opacity = $opacity*100 );
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}