/* ******************************************************** */
/* configuration for all stylesheets                        */
/* ******************************************************** */

/* colors */
$the_color: #fef7ff;
$base_font_color: #555;
$page_bg: #ffffff;
$content_bg: $page_bg;
$faint_border_color: darken($the_color, 3%);
$border_color: darken($the_color, 20%);
$navigation_border_color: darken($the_color, 80%);
$navigation_bg: $content_bg;
$subnav_bg: $content_bg;
$navigation_font_color: $base_font_color;
$subnav_font_color: $base_font_color;

/* widths */
$max_page_width: 61.75em;
$head_width: 100%;
$navigation_width: 100%;
$foot_width: 100%;

/* fonts */
$hover_color: darken($the_color, 50%);
$base_font_size: 12px; // set to 13px in boilerplate
$content_font_family: Helvetica, Sans-Serif;
$base_font_color: #607890; // from boilerplate

/* ******************************************************** */
/* mixins                                                   */
/* ******************************************************** */

@mixin rounded($size: 2px, $color: $border_color, $radius: 1em, $padding: 2em, $style: dashed) {
  border: $size $style $color;
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  padding: $padding;
}

@mixin transparent($opacity) {
  filter: alpha( opacity = $opacity*100 );
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  opacity: $opacity;
}