@use "config";

.facet {
  @include config.rounded(1px, config.$med_border_color, .5em, 1em, dotted);
  width: 95%;
  margin: auto;
  margin-bottom: 2em;
  h2 {
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid config.$med_border_color;
  }
}