@import "config.scss";

.facet {
  @include rounded(1px, $med_border_color, .5em, 1em, dotted);
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  h2 {
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid $med_border_color;
  }
}