@use "config";

.thing_form {
  border-bottom: 1px dashed config.$faint_border_color;
  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.drag, .nested_drag {
  text-align: center;
  vertical-align: middle;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    cursor: grabbing;
  }
}