@use "config";

.thing_form {
  border-bottom: 1px dashed config.$faint_border_color;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

#sort_favorites {
  width: 50%;
  margin: auto;
}

.item_drag, .item_dragging {
  padding: .2em;
}
.item_dragging {
  background-color: config.$faint_border_color;
}