/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.things_edit {
  margin: 0 2em 3em 3em;
  border-left: 1px solid #999999;
}

.thing_form {
  clear: both;
  margin: 1em 0 1em 0;
  padding: 1em 0 1em 0;
  border-bottom: 1px dashed #aaaaaa;
  .thing_image {
    padding: 0 .5em 0 .5em;
    display: inline-block;
    width: 7em;
    vertical-align: top;
    img {
      margin-top: .5em;
      max-width: 5em;
      max-height: 8em;
    }
  }
  .thing_fields {
    display: inline-block;
    width: 35em;
    label {
      display: inline-block;
      width: 6em;
    }
  }
  .thing_destroy {
    display: inline-block;
    padding: 0 0 0 .5em;
    width: 9em;
    vertical-align: top;
  }
}

#sort_favorites {
  width: 50%;
  margin: auto;
}

.item_drag, .item_dragging {
  padding: .2em;
}
.item_dragging {
  background-color: $faint_border_color;
}