@import "config.scss";

label {
  font-weight: bold;
  padding: 0 .5em 0 0;
}

input, textarea {
  @include rounded(1px, $med_border_color, .5em, .2em, solid);
  background-color: $field_bg;
  color: $base_font_color;
  margin: 0 2em 0 0;
}

select {
  @include rounded(1px, $med_border_color, .5em, .2em, solid);
  background-color: $field_bg;
  color: $base_font_color;
}

input.sort[type=number] {
  width: 3em;
}
input.year[type=number] {
  width: 4em;
}

input[type="file"]::file-selector-button {
    background-color: $navigation_bg;
    color: $navigation_font_color;
    cursor: pointer;
}

input[type=submit] {
  @include rounded(1px, $navigation_border_color, .5em, .2em, solid);
  background-color: $navigation_bg;
  color: $navigation_font_color;
  padding: .2em 1em .2em 1em;
  margin: 0;
}