label {
  font-weight: bold;
  padding: 0 1em 0 1em;
}

input, textarea {
  @include rounded(1px, #cccccc, .5em, .2em, solid);
  background-color: $the_color;
  margin: .25em 0 .25em 0;
}

input[type=submit] {
  @include rounded(1px, #555555, .5em, .2em, solid);
  background-color: white;
  color: #333333;
  padding: .2em 1em .2em 1em;
  margin: .5em 0 .5em 0;
}