@use "config";

label {
  font-weight: bold;
  padding: 0 .5em 0 0;
}

input, textarea {
  @include config.rounded(1px, config.$med_border_color, .5em, .2em, solid);
  background-color: config.$field_bg;
  color: config.$base_font_color;
  margin: 0 2em 0 0;
}

select {
  @include config.rounded(1px, config.$med_border_color, .5em, .2em, solid);
  background-color: config.$field_bg;
  color: config.$base_font_color;
}

button {
  @include config.rounded(1px, config.$navigation_border_color, .5em, .5em, solid);
  background-color: config.$navigation_bg;
  color: config.$navigation_font_color;
}

input.sort[type=number] {
  width: 3em;
}
input.year[type=number] {
  width: 4em;
}

input[type="file"]::file-selector-button {
  background-color: config.$navigation_bg;
  color: config.$navigation_font_color;
  cursor: pointer;
}

input[type=submit] {
  @include config.rounded(1px, config.$navigation_border_color, .5em, .2em, solid);
  background-color: config.$navigation_bg;
  color: config.$navigation_font_color;
  padding: .2em 1em .2em 1em;
  margin: 0;
}