@import "config.scss";

label {
  font-weight: bold;
  padding: 0 .5em 0 0;
}

input, textarea {
  @include rounded(1px, #cccccc, .5em, .2em, solid);
  background-color: $field_bg;
  margin: 0 2em 0 0;
}

input.sort[type=number] {
  width: 3em;
}
input.year[type=number] {
  width: 4em;
}

input[type=submit] {
  @include rounded(1px, #555555, .5em, .2em, solid);
  background-color: $field_bg;
  color: #333333;
  padding: .2em 1em .2em 1em;
  margin: 0;
}