body, select, input, textarea {
  /* default font size, text color, etc */
  color: $base_font_color;
  font-size: $base_font_size;
  font-family: $content_font_family;
}

/* for a fluid layout; this will make this scale down to fit */
img,
embed,
object,
video {
  max-width: 100%;
}

body {
  background-color: $page_bg;
}

p {
  margin: .5em 0em .5em 0em;
  padding: 0;
}

address {
  font-style: normal;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: $link_color; }
a:visited { color: $visited_link_color; }
a:hover { color: $hover_color; }

// easily align things in haml
.center {
  text-align: center;
}
.right {
  text-align: right;
}

// used for pages with "no" layout
#simple {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 0 1em 0;
  background-color: #ffffff;
  color: #000000;
  a:link, a:active, a:visited {
    color: #333333;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
    text-decoration: underline;
  }
}

#container {
  max-width: $max_page_width;
  margin: auto;
}
  
#admin {
  width: 100%;
  text-align: right;
  clear: both;
  font-size: 75%;
  padding-bottom: .25em;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

#pagehead {
  background-image: url(/assets/tentacles.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 80px;
  overflow: hidden;
  max-width: $head_width;
  padding: 0 0 .25em .25em;
  margin: 0;
  #banner {
    font-size: 150%;
    margin: 1.4em 0 0 0;
    img {
      @include transparent(0.8);
    }
  }
  #tagline {
    font-size: 80%;
    font-style: italic;
    color: #888888;
    margin: 0;
    background-color: $page_bg;
    @include rounded(1px, transparent, .75em, .3em, none);
    padding-left: 0;
    @include transparent(0.8);
    display: inline;
  }
}

#navigation {
  // navigation will switch to mobile @ given size
  @media screen and (min-width: 500px) {
    /* regular layout */
    .mobile {
      display: none;
    }
    .regular {
      display: block;
      ul {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    /* mobile layout */
    .mobile {
      display: block;
      margin: auto;
      ul {
        width: $max_page_width/5;
      }
    }
    .regular {
      display: none;
    }
  }
  max-width: $navigation_width;
  color: $navigation_font_color;
  background-color: $navigation_bg;
  border-top: 2px solid $navigation_border_color;
  border-bottom: 2px solid $navigation_border_color;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow: hidden;
    li {
      display: inline;
      width: $max_page_width/5; // 20% of full page - will be a static number, not a percentage (as it should be)
      text-align: center;
      margin: 0;
      float: left;
      padding: 0.75em 0em 0.75em 0em;
      background-color: $navigation_bg;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 120%;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 120%;
    color: $hover_color;
  }
  .break {
    /*
      the nav was doing stupid things when fluidly resized.
      this fixes it. the 1px also makes subnavs look better.
    */ 
    clear: both;
    background-color: $navigation_bg;
    width: 100%;
    height: 1px;
  }
  .subnav {
    margin: 0;
    padding: 0;
    border-top: 1px solid $navigation_border_color;
    background-color: $subnav_bg;
    max-width: $navigation_width;
    li {
      background-color: $subnav_bg;
      width: $max_page_width/5;
    }
    a:link, a:active, a:visited {
      color: $subnav_font_color;
    }
    a:hover {
      color: $hover_color;
    }
  }
}
#single_column_navigation {
  width: $max_page_width/5;
  color: $navigation_font_color;
  background-color: $navigation_bg;
  margin: auto;
  padding: 0;
  overflow: hidden;
  h1 {
    margin: 0em 0 .25em 0;
    padding: 0.75em 0em 0.75em 0em;
    border-top: none;
    border-bottom: 2px solid $navigation_border_color;
  }
  ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0 0 2em 0;
    overflow: hidden;
    li {
      width: $max_page_width/5; // 20% of full page - will be a static number, not a percentage (as it should be)
      text-align: center;
      margin: 0em 0 .25em 0;
      padding: 0.75em 0em 0.75em 0em;
      border-bottom: 2px solid $navigation_border_color;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 120%;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 120%;
    color: $hover_color;
  }
}

h1 {
  font-weight: bold;
  font-size: 150%;
  text-transform: lowercase;
  margin: 1em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  border-bottom: 1px dashed $border_color;
  a:link, a:visited, a:active {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

#main {
  clear: both;
  background-color: $content_bg;
  padding: 1.5em 1em 1.5em 1em;
  #footnote {
    text-align: center;
    font-size: 80%;
    padding-top: 2em;
    a:link {
      text-decoration: none;
    }
  }
}

#pagefoot {
  border-top: 1px solid $faint_border_color;
  clear: both;
  text-align: center;
  font-size: 75%;
  max-width: $foot_width;
  padding: .5em 0 .5em 0;
  margin-top: 3em;
  margin: auto;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
  p {
    margin: 0;
  }
}

/*
 *  row ensures that left and right are the same height
 *  clear ensures that a new row (or anything else) won't flow around
 *  a row
 */
.row {
  .left {
    width: 20%;
    margin: 0;
    float: left;
    text-align: right;
  }
  .right {
    width: 80%;
    margin: 0;
    float: right;
    text-align: left;
  }
  .clear {
    clear: both;
  }
}