body, select, input, textarea {
  /* default font size, text color, etc */
  color: $base_font_color;
  font-size: $base_font_size;
  font-family: $content_font_family;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body {
  background-color: $page_bg;
}

p {
  padding: .5em 0em .5em 0em;
}

em {
  font-style: italic;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: $border_color - #666600; }
a:visited { color: darken($border_color, 15%); }
a:hover { color: $border_color; }

// easily align things in haml
.center {
  text-align: center;
}
.right {
  text-align: right;
}

// used for pages with "no" layout
#simple {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 0 1em 0;
  background-color: #ffffff;
  color: #000000;
  a:link, a:active, a:visited {
    color: #333333;
    text-decoration: none;
  }
  a:hover {
    color: $border_color;
    text-decoration: underline;
  }
}

#container {
  max-width: $max_page_width;
  margin: auto;
}
  
#admin {
  width: 100%;
  text-align: right;
  clear: both;
  font-size: 75%;
  padding-bottom: .25em;
  a:link, a:active, a:visited {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $base_font_color;
    text-decoration: underline;
  }
}

#pagehead {
  background-image: url(/assets/tentacles.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100px;
  overflow: hidden;
  max-width: $head_width;
  padding: 0;
  margin: 0;
  #banner {
    font-size: 150%;
    margin: 2.25em 0 0 0;
    img {
      @include transparent(0.8);
    }
  }
  #subtitle {
    font-size: 80%;
    font-style: italic;
    color: #888888;
    margin: 0;
    background-color: $page_bg;
    @include rounded(1px, transparent, .5em, .5em, none);
    @include transparent(0.8);
    display: inline;
  }
}

#navigation {
  max-width: $navigation_width;
  color: $navigation_font_color;
  background-color: $navigation_bg;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    width: 100%;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    li {
      display: inline;
      width: $max_page_width/5; // 20% of full page - will be a static number, not a percentage (as it should be)
      text-align: center;
      margin: 0;
      float: left;
      padding: 0.75em 0em 0.75em 0em;
      background-color: $navigation_bg;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 120%;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    font-size: 120%;
    color: $navigation_font_color;
  }
  .break {
    /*
      the nav was doing stupid things when fluidly resized.
      this fixes it. the 1px also makes subnavs look better.
    */ 
    clear: both;
    background-color: $navigation_bg;
    width: 100%;
    height: 1px;
  }
  .subnav {
    margin: 0px 1px 0px 1px;
    background-color: $subnav_bg;
    max-width: ($max_page_width - 0.15);
    li {
      background-color: $subnav_bg;
      width: ($max_page_width - 0.15)/5;
    }
    a:link, a:active, a:visited {
      color: $base_font_color;
    }
    a:hover {
      color: $base_font_color;
    }
  }
}

#title {
  font-weight: bold;
  font-size: 150%;
  text-align: left;
  text-transform: lowercase;
  border-bottom: 1px dotted $border_color;
  margin: .5em 0em 1em 0em;
  padding: 0em 0em .25em 0em;
}
h1 {
  font-weight: bold;
  font-size: 130%;
  text-transform: lowercase;
  margin: 1.5em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: center;
  border-top: 1px dashed darken($page_bg, 20%);
  border-bottom: 1px dashed darken($page_bg, 20%);
  a:link, a:visited, a:active {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $border_color;
  }
}

#main {
  clear: both;
  position: relative;
  top: -1em;
  z-index: 0;
  background-color: $content_bg;
  @include rounded(.1em, $border_color, 2em, 2em, none);
  padding-top: 1.5em;
}

#pagefoot {
  clear: both;
  position: relative;
  top: -1em;
  text-align: center;
  font-size: 75%;
  max-width: $foot_width;
  margin: auto;
  a:link, a:active, a:visited {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $base_font_color;
    text-decoration: underline;
  }
  p {
    padding: 0;
  }
  .footnote {
    font-size: 125%;
    padding-bottom: 1em;
  }
}

/*
 *  row ensures that left and right are the same height
 *  clear ensures that a new row (or anything else) won't flow around
 *  a row
 */
.row {
  .left {
    width: 20%;
    margin: 0;
    float: left;
    text-align: right;
  }
  .right {
    width: 80%;
    margin: 0;
    float: right;
    text-align: left;
  }
  .clear {
    clear: both;
  }
}