@use "config";
@use "html5bp";
@use "dialog-polyfill";
@import "bootstrap";

body {
  background-color: config.$page_bg;
}

// make sure that modal dialog overlays look consistent
dialog::backdrop, dialog + .backdrop {
  background: url('colorbox-overlay.png') repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity = 90);
}
dialog {
  max-height: 100% !important;
  background-color: config.$page_bg;
  color: config.$base_font_color;
  @include config.rounded(2px, config.$navigation_border_color, 1em, 1em, solid);
  * {
    width: 300px !important;
    max-width: 100% !important;
  }
  h2 {
    font-size: 125%;
    margin: 0em 0em .5em 0;
    padding: 0.25em 0 0.25em 0;
  }
  p {
    max-width: 300px;
  }
  img {
    max-height: 80% !important;
    @include config.rounded(0px, transparent, .75em, 0, none);
  }
}
dialog.fixed {
  position: fixed;
  @media screen and (min-width: config.$mobile_threshhold) {
    /* regular layout */
    top: 0;
    transform: translate(0, 0);
  }
  @media screen and (max-width: config.$mobile_threshhold) {
    /* mobile layout */
    bottom: 0;
    transform: translate(0, -25%);
  }
}

// to stop 'Section offsets must be ordered and non-overlapping.' errors, move
// all styling that had been on html or body tags here
#container, #simple {
  /* Prevent iOS and IE text size adjust after device orientation change,
   * without disabling user zoom. (from HTML boilerplate) */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* default font size, text color, etc */
  margin: 0;
  color: config.$base_font_color;
  font-size: config.$base_font_size;
  font-family: config.$content_font_family;
  line-height: 150%;
  background-color: config.$page_bg;
}

// used for pages with "no" layout
#simple {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 0 1em 0;
  background-color: #ffffff;
  color: #000000;
  a:link, a:active, a:visited {
    color: config.$link_color;
  }
  a:hover {
    color: config.$hover_color;
    text-decoration: underline;
  }
}

#container {
  max-width: config.$max_page_width;
  margin: auto;
}


/* for a fluid layout; this will make this scale down to fit */
img,
embed,
object,
video,
.entry-content,
.entry-content iframe,
blockquote,
blockquote p image {
  max-width: 100%;
}

p {
  margin: .5em 0em .5em 0em;
  padding: 0;
  max-width: 100%;
}

address {
  font-style: normal;
  line-height: 1.125em;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: config.$link_color; }
a:visited { color: config.$visited_link_color; }
a:hover { color: config.$hover_color; }

// easily align things in haml
.centered {
  text-align: center;
}
.right {
  text-align: right;
}

#admin {
  width: 100%;
  text-align: right;
  clear: both;
  font-size: 80%;
  padding-bottom: .25em;
  line-height: 1.125em;
  #admin_navigation {
    color: config.$navigation_font_color;
    font-family: config.$navigation_font_family;
    background-color: config.$content_bg;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    a:link, a:active, a:visited {
      text-decoration: none;
      color: config.$navigation_font_color;
    }
    a:hover {
      text-decoration: underline;
      color: config.$hover_color;
    }
    .break {
      /*
        the nav was doing stupid things when fluidly resized.
        this fixes it.
      */ 
      clear: both;
      width: 100%;
      height: 1px;
    }
    .mobile {
      #single_column_admin_navigation {
        display: none;
      }
    }
    // navigation will switch to mobile @ given size
    @media screen and (min-width: config.$mobile_threshhold) {
      /* regular layout */
      .mobile {
        display: none;
      }
      .regular {
        display: block;
        margin: 0;
        padding: 0;
        ul {
          list-style-type: none;
          width: 100%;
          display: block;
          padding: 0;
          margin: 0;
          text-align: left;
          li {
            display: inline-block;
            padding: 0;
            margin: 0 0 .5em 0;
            line-height: 100%;
          }
          li:not(:last-child) {
            padding-right: 1em;
          }
          li:not(:first-child) {
            padding-left: 1em;
            border-left: 1px solid config.$med_border_color;
          }
        }
      }
    }
    @media screen and (max-width: config.$mobile_threshhold) {
      /* mobile layout */
      .mobile {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: right;
        ul {
          padding: 0;
          margin: 0;
          li {
            text-align: right;
            display: block;
            padding: .5em 1em .5em 1em;
            margin: 0;
          }
        }
      }
      .regular {
        display: none;
      }
    }
  }
}

#pagehead {
  overflow: hidden;
  max-width: config.$head_width;
  height: 62px;
  padding: 0 0 0 .25em;
  margin: 0;
  #banner {
    font-size: 150%;
    margin: 20px 0 0 0;
    img {
      @include config.transparent(0.8);
    }
  }
}

#navigation {
  display: block;
  margin: auto;
  max-width: config.$navigation_width;
  color: config.$navigation_font_color;
  font-family: config.$navigation_font_family;
  background-color: config.$navigation_bg;
  border-top: 2px solid config.$navigation_border_color;
  border-bottom: 2px solid config.$navigation_border_color;
  margin: 0;
  padding: .5em;
  overflow: hidden;
  text-align: center;
  line-height: 0;
  ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      margin: 0;
      float: left;
      padding: 0.75em 0em 0.75em 0em;
      width: config.$navigation_item_width;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 125%;
    color: config.$navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    color: config.$hover_color;
  }
  .break {
    /*
      the nav was doing stupid things when fluidly resized.
      this fixes it.
    */ 
    clear: both;
    width: config.$navigation_width;
    height: 1px;
  }
  .mobile {
    #single_column_navigation {
      display: none;
    }
  }
}

#social {
  margin: auto;
  @media screen and (min-width: config.$mobile_threshhold) {
    /* regular layout */
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    ul {
      margin: 0 10px 5px 0;
    }
  }
  @media screen and (max-width: config.$mobile_threshhold) {
    /* mobile layout */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    ul {
      margin: 0 auto 5px auto;
    }
  }
  ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      margin: 0 2px 0 2px;
      padding: 0;
      width: 32px;
      img {
        @include config.rounded(0px, transparent, .75em, 0, none);
        @include config.transparent(0.8);
        max-width: 32px;
        max-height: 32px;
      }
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 200%;
  font-family: config.$heading_font_family;
  text-transform: lowercase;
  margin: 3em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: right;
  border-bottom: 1px solid config.$heading_border_color;
  clear: both;
  a:link, a:visited, a:active {
    color: config.$base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: config.$hover_color;
  }
}

h2 {
  font-weight: bold;
  font-size: 150%;
  font-family: config.$heading_font_family;
  text-transform: lowercase;
  margin: 2em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: left;
  border-bottom: 1px dashed config.$heading_border_color;
  a:link, a:visited, a:active {
    color: config.$base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: config.$hover_color;
  }
}

#main {
  clear: both;
  background-color: config.$content_bg;
  margin: 0;
  padding: 1em;
  max-width: 100%;
  h1:first-of-type {
    margin-top: 1em;
  }
  #footnote {
    clear: both;
    text-align: center;
    font-size: 80%;
    line-height: 1.125em;
    margin: 3em 0 0 0;
    padding: 0.25em 0 0 0;
    a:link {
      text-decoration: none;
    }
  }
}

#pagefoot {
  border-top: 1px solid config.$navigation_border_color;
  clear: both;
  text-align: center;
  font-size: 75%;
  max-width: config.$foot_width;
  padding: 1em 0 .5em 0;
  margin-top: 3.5em;
  margin: auto;
  line-height: 1.25em;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: config.$hover_color;
  }
  div {
    margin: 0;
  }
  @media screen and (min-width: config.$mobile_threshhold) {
    /* regular layout */
  }
  @media screen and (max-width: config.$mobile_threshhold) {
    /* mobile layout */
    margin-bottom: 35px; // make room for social media links when page is scrolled all the way down
  }
}