@import "config.scss";

// to stop 'Section offsets must be ordered and non-overlapping.' errors, move
// all styling that had been on html or body tags here
#container, #simple {
  /* Prevent iOS and IE text size adjust after device orientation change,
   * without disabling user zoom. (from HTML boilerplate) */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* default font size, text color, etc */
  margin: 0;
  color: $base_font_color;
  font-size: $base_font_size;
  font-family: $content_font_family;
  line-height: 150%;
  background-color: $page_bg;
}

// used for pages with "no" layout
#simple {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1em 0 1em 0;
  background-color: $page_bg;
  color: #000000;
  a:link, a:active, a:visited {
    color: $link_color;
  }
  a:hover {
    color: $hover_color;
    text-decoration: underline;
  }
}

#container {
  max-width: $max_page_width;
  margin: auto;
}


/* for a fluid layout; this will make this scale down to fit */
img,
embed,
object,
video,
.entry-content,
.entry-content iframe,
blockquote,
blockquote p image {
  max-width: 100%;
}

p {
  margin: .5em 0em .5em 0em;
  padding: 0;
  max-width: 100%;
}

address {
  font-style: normal;
  line-height: 1.125em;
}

// other link stuff defined in the boilerplate, but I think it's good to
// have visited non-nav links be a different color
a:link, a:active { color: $link_color; }
a:visited { color: $visited_link_color; }
a:hover { color: $hover_color; }

// easily align things in haml
.centered {
  text-align: center;
}
.right {
  text-align: right;
}

.spacer {
  display: inline;
  padding: 0 1em 0 1em;
}

#admin {
  width: 100%;
  text-align: right;
  clear: both;
  font-size: 80%;
  padding-bottom: .25em;
  line-height: 1.125em;
  #admin_navigation {
    color: $navigation_font_color;
    font-family: $navigation_font_family;
    background-color: $content_bg;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-width: 100%;
    a:link, a:active, a:visited {
      text-decoration: none;
      color: $navigation_font_color;
    }
    a:hover {
      text-decoration: underline;
      color: $hover_color;
    }
    .break {
      /*
        the nav was doing stupid things when fluidly resized.
        this fixes it.
      */ 
      clear: both;
      width: 100%;
      height: 1px;
    }
    .mobile {
      #single_column_admin_navigation {
        display: none;
      }
    }
    // navigation will switch to mobile @ given size
    @media screen and (min-width: $mobile_threshhold) {
      /* regular layout */
      .mobile {
        display: none;
      }
      .regular {
        display: block;
        margin: 0;
        padding: 0;
        ul {
          width: 100%;
          text-align: right;
          display: block;
          padding: 0;
          margin: 0;
          li {
            float: left;
            text-align: center;
            display: inline;
            padding: 0 1em 0 1em;
            margin: 0;
            border-right: 1px solid $navigation_border_color;
          }
          li:last-child {
            border-right: none;
          }
        }
      }
    }
    @media screen and (max-width: $mobile_threshhold) {
      /* mobile layout */
      .mobile {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: right;
        ul {
          padding: 0;
          margin: 0;
          li {
            text-align: right;
            display: block;
            padding: .5em 1em .5em 1em;
            margin: 0;
          }
        }
      }
      .regular {
        display: none;
      }
    }
  }
}

#pagehead {
  overflow: hidden;
  max-width: $head_width;
  height: 62px;
  padding: 0 0 0 .25em;
  margin: 0;
  #banner {
    font-size: 150%;
    margin: 20px 0 0 0;
    img {
      @include transparent(0.8);
    }
  }
}

#navigation {
  // navigation will switch to mobile @ given size
  @media screen and (min-width: $mobile_threshhold) {
    /* regular layout */
    .mobile {
      display: none;
    }
    .regular {
      display: block;
      ul {
        width: $navigation_width;
        li {
          width: $navigation_width/$nav_items;
        }
      }
    }
  }
  @media screen and (max-width: $mobile_threshhold) {
    /* mobile layout */
    .mobile {
      display: block;
      margin: auto;
      ul {
        width: $max_page_width/$nav_items;
        li {
          width: $max_page_width/$nav_items;
        }
      }
    }
    .regular {
      display: none;
    }
  }
  max-width: $navigation_width;
  color: $navigation_font_color;
  font-family: $navigation_font_family;
  background-color: $navigation_bg;
  border-top: 2px solid $navigation_border_color;
  border-bottom: 2px solid $navigation_border_color;
  margin: 0;
  padding: 0;
  overflow: hidden;
  ul {
    clear: both;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      margin: 0;
      float: left;
      padding: 0.75em 0em 0.75em 0em;
    }
  }
  a:link, a:active, a:visited {
    text-decoration: none;
    font-size: 125%;
    color: $navigation_font_color;
  }
  a:hover {
    font-weight: bold;
    color: $hover_color;
  }
  .break {
    /*
      the nav was doing stupid things when fluidly resized.
      this fixes it.
    */ 
    clear: both;
    width: $navigation_width;
    height: 1px;
  }
  .mobile {
    #single_column_navigation {
      display: none;
    }
  }
}

#social {
  @media screen and (min-width: $social_media_threshhold) {
    /* regular layout */
    width: $social_media_width;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 ($max_page_width/2)-$social_media_width;
  }
  @media screen and (max-width: $social_media_threshhold) {
    /* mobile layout */
    width: 90%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -45%;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    li {
      display: inline;
      text-align: center;
      margin: 0 .1em 0 .1em;
      padding: 0;
      img {
        background-color: $page_bg;
        @include rounded(0px, $page_bg, .75em, 0, none);
        @include transparent(0.8);
        max-width: 32px;
        max-height: 32px;
      }
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 200%;
  font-family: $heading_font_family;
  text-transform: lowercase;
  margin: 3em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: right;
  border-bottom: 1px solid $heading_border_color;
  clear: both;
  a:link, a:visited, a:active {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

h2 {
  font-weight: bold;
  font-size: 150%;
  font-family: $heading_font_family;
  text-transform: lowercase;
  margin: 2em 0em 1.5em 0;
  padding: 0.25em 0 0.25em 0;
  text-align: left;
  border-bottom: 1px dashed $heading_border_color;
  a:link, a:visited, a:active {
    color: $base_font_color;
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
}

#main {
  clear: both;
  background-color: $content_bg;
  margin: 0;
  padding: 1em;
  max-width: 100%;
  h1:first-of-type {
    margin-top: 1em;
  }
  #footnote {
    clear: both;
    text-align: center;
    font-size: 80%;
    line-height: 1.125em;
    margin: 3em 0 0 0;
    padding: 0.25em 0 0 0;
    a:link {
      text-decoration: none;
    }
  }
}

#pagefoot {
  border-top: 1px solid $faint_border_color;
  clear: both;
  text-align: center;
  font-size: 75%;
  max-width: $foot_width;
  padding: .5em 0 .5em 0;
  margin-top: 3.5em;
  margin: auto;
  line-height: 1.25em;
  a:link, a:active, a:visited, a:hover {
    text-decoration: none;
  }
  a:hover {
    color: $hover_color;
  }
  div {
    margin: 0;
  }
  @media screen and (min-width: $social_media_threshhold) {
    /* regular layout */
  }
  @media screen and (max-width: $social_media_threshhold) {
    /* mobile layout */
    margin-bottom: 35px; // make room for social media links when page is scrolled all the way down
  }
}

/*
 *  row ensures that left and right are the same height
 *  clear ensures that a new row (or anything else) won't flow around
 *  a row
 */
.row {
  margin: 0 0 .5em 0;
  padding: 0;
  vertical-align: top;
  .left {
    width: 20%;
    margin: 0;
    float: left;
    text-align: right;
  }
  .right {
    width: 80%;
    margin: 0;
    float: right;
    text-align: left;
  }
  .clear {
    clear: both;
  }
}