/* 
 * can be applied to say, a list item to make progressive items more faint
 */
.fade0 {}
.fade10 {@include transparent(0.90);}
.fade20 {@include transparent(0.80);}
.fade30 {@include transparent(0.70);}
.fade40 {@include transparent(0.60);}
.fade50 {@include transparent(0.50);}
.fade60 {@include transparent(0.45);}
.fade70 {@include transparent(0.40);}
.fade80 {@include transparent(0.35);}
.fade90 {@include transparent(0.30);}
.fade100 {@include transparent(0.25);}

/* wrap around blog post to keep it to size */
#single_post {
  max-width: 100%;
  overflow: hidden;
  p {
    max-width: 50em;
  }
  @media screen and (min-width: $mobile_threshhold) {
    /* regular layout */
    .entry-content {
      margin: 0 5em 0 5em;
    }
  }
  @media screen and (max-width: $mobile_threshhold) {
    /* mobile layout */
    .entry-content {
      margin: 0 .25em 0 .25em;
      max-width: 100%;
    }
    blockquote {
      margin: .5em 0 1em .5em;
      padding: 0 0 0 .25em;
      max-width: 100%;
    }
  }
}

/* twitter widget container */
#twitter-widget {
  width: 520px !important;
  max-width: 100%;
  margin: auto;
  padding: 0;
}

ul#delicious {
  width: 96%;
  max-width: 100%;
  margin: auto;
  padding: 0;
  list-style-type: none;
  line-height: 1.125em;
  li {
    display: block;
    margin: 0 0 .75em 0;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
    .summary {
      margin: 0;
      padding: 0 0 0 1em;
    }
  }
}

ul#gaming, ul#goodreads, ul#lastfm, ul#flickr {
  width: 96%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  height: 9.3em;
  font-size: 80%;
  line-height: 1.125em;
  li {
    display: inline-block;
    margin: 0 auto;
    width: 8em;
    text-align: center;
    vertical-align: top;
    padding: 0 1em 3em 1em;
    float: none;
    overflow: hidden;
    img {
      max-width: 5.5em;
      height: 6.5em;
      overflow: hidden;
    }
  }
}
ul#lastfm {
  height: 8em;
  li {
    img {
      height: 5.5em;
      overflow: hidden;
    }
  }
}
ul#flickr {
  $flickr_height: 15.5em;
  height: $flickr_height;
  .when {
    font-size: 90%
  }
  li {
    width: 10em;
    height: $flickr_height;
    .caption {
      font-weight: normal;
    }
    img {
      margin: 0;
      padding: 0;
      max-width:  11em;
      max-height: 9em;
      @include rounded(1px, $med_border_color, .75em, .3em, solid);
    }
  }
  li:hover {
    width: 10em;
    height: $flickr_height;
    .caption {
      font-weight: bold;
    }
    img {
      margin: 0;
      padding: 0;
      max-width:  11em;
      max-height: 9em;
      @include rounded(1px, $border_color, .75em, .3em, solid);
    }
  }
}

.banksy {
  width: 50em;
  margin: auto;
  pre {
    display: inline;
    font-family: monospace;
    width: 50em;
  }
}

#ack {
  ul.main {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 1em 0 1em 0;
    }
  }
  ul.sub {
    margin: 0;
    padding: 0;
    li {
      list-style-type: circle;
      margin: 0 0 0 5em;
      padding: .5em 0 .5em 0;
    }
  }
  
}