@use "config";

/* 
 * can be applied to say, list items, to make progressive items more faint
 */
.fade0   {}
.fade10  {@include config.transparent(0.96);}
.fade20  {@include config.transparent(0.92);}
.fade30  {@include config.transparent(0.88);}
.fade40  {@include config.transparent(0.84);}
.fade50  {@include config.transparent(0.80);}
.fade60  {@include config.transparent(0.76);}
.fade70  {@include config.transparent(0.72);}
.fade80  {@include config.transparent(0.68);}
.fade90  {@include config.transparent(0.64);}
.fade100 {@include config.transparent(0.60);}
.fade110 {@include config.transparent(0.56);}
.fade120 {@include config.transparent(0.52);}
.fade130 {@include config.transparent(0.48);}
.fade140 {@include config.transparent(0.44);}
.fade150 {@include config.transparent(0.40);}
.fade160 {@include config.transparent(0.36);}

/* wrap around blog post to keep it to size */
#tumblr {
  max-width: 100%;
  overflow: hidden;
  article {
    width: 90%;
    margin: auto;
    .meta {
      text-align: right;
      font-size: 80%;
      margin: 0 0 1em 0;
      @include config.transparent(0.9);
    }
    .spoiler {
      text-align: center;
      button {
        margin: 1.5em 0 1.5em 0;;
      }
    }
    .content {
      max-width: 50em;
      h1, h2, h3, h4, h5 {
        border: none !important;
        margin: 1em 0 .5em 0 !important;
        padding: 0 !important;
        font-size: 110% !important;
        text-align: left;
      }
      blockquote {
        margin: 0;
        padding: .25em 0 0 .75em;
        border-left: 1px dashed config.$faint_border_color;
        p a.tumblr_blog { }
        blockquote { }
      }
      .images {
        margin: auto;
        .image {
          max-width: 640px;
          display: inline-block;
        }
      }
    }
    .tagged {
      text-align: right;
      font-size: 80%;
      margin: 1em 0 0 0;
    }
    @media screen and (min-width: config.$mobile_threshhold) {
      /* regular layout */
      .entry-content {
        margin: 0 5em 0 5em;
      }
    }
    @media screen and (max-width: config.$mobile_threshhold) {
      /* mobile layout */
      .entry-content {
        margin: 0 .25em 0 .25em;
        max-width: 100%;
      }
      blockquote {
        margin: .5em 0 1em .5em;
        padding: 0 0 0 .25em;
        max-width: 100%;
      }
    }
  }
  article:not(:first-child) {
    margin-top: 2em;
  }
  article:not(:last-child) {
    border-bottom: 1px solid config.$faint_border_color;
    padding-bottom: 2em;
  }
}

.when {
  font-size: 90%
}

.toot_block, .skeet_block {
  padding: 0;
  margin: 0 auto 2em auto;
  height: 24em;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  @include config.rounded(1px, config.$faint_border_color, .75em, 0em, solid);
  @media screen and (min-width: config.$mobile_threshhold) {
    /* regular layout */
    width: 80%;
  }
  @media screen and (max-width: config.$mobile_threshhold) {
    /* mobile layout */
    width: 100%;
  }
}
.toot_block::-webkit-scrollbar, .skeet_block::-webkit-scrollbar  {
  -webkit-appearance: none;
  width: 7px;
}
.toot_block::-webkit-scrollbar-thumb, .skeet_block::-webkit-scrollbar-thumb  {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
ul#mastodon, ul#bluesky {
  width: 96%;
  max-width: 100%;
  margin: auto;
  padding: 0;
  list-style-type: none;
  line-height: 1.125em;
  li {
    display: block;
    margin: 0;
    padding: 1em 0 1em 0;
    border-bottom: 1px config.$med_border_color solid;
    clear: both;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
    .summary {
      margin: 0;
      padding: 0 0 0 1em;
    }
    .metadata, .reach, .time_ago {
      font-size: 75%;
      @include config.transparent(0.35);
    }
    .display_name {
      display: inline;
      font-weight: bold;
    }
    .handle {
      display: inline;
      font-size: 80%;
    }
    .boost, .reskeet {
      margin: 0 0 .5em 0;
    }
    .user_pic {
      width: 2.75em;
      float: left;
      img {
        max-width: 2.75em;
      }
    }
    .spoiler {
      font-weight: bold;
      color: config.$link_color;
      cursor: pointer;
    }
    .toot, .skeet {
      width: -webkit-calc(100% - 4em);
      width: -moz-calc(100% - 4em);
      width: calc(100% - 3.75em);
      float: right;
      margin: 0;
      padding: 0 .5em 0 .5em;
      .user_name {
      }
      .toot_content, .skeet_content {
        display: inline-block;
        img {
          display: inline-block;
        }
        .reply {
          font-style: italic;
          font-size: 80%;
        }
        .nested, .link_preview {
          clear: both;
          @include config.rounded(1px, config.$faint_border_color, .75em, .5em, dashed);
        }
        .nest_fix {
          clear: both;
        }
        .link_preview {
          overflow: hidden;
          a:hover {
            font-weight: normal;
          }
          .preview_image {}
          .preview_title, .preview_description, .preview_link {
            padding: .25em;
          }
          .preview_title {
            font-weight: 125%;
          }
          .preview_description {
            font-size: 75%;
          }
          .preview_link {
            border-top: 1px config.$faint_border_color solid;
            font-size: 60%;
          }
        }
      }
      .reach {
        margin: .5em 0 0 0;
        clear: both;
        span {
          margin-right: 1.5em;
        }
      }
      .invisible {
        display: none;
      }
    }
    .time_ago {
      clear: both;
      text-align: right;
    }
  }
}
ul#bluesky .user_pic {
  img {
    @include config.rounded(0px, config.$page_bg, 2em, 0, none);
  }
}

ul#gaming, ul#letterboxd, ul#goodreads, ul#lastfm {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  height: 155px;
  line-height: 110%;
  li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    float: none;
    overflow: hidden;
    height: 155px;
    margin: 0 7px;
    img {
      @include config.rounded(0px, transparent, .75em, 0, none);
      max-height: 100px;
      max-width: 85px;
      width: auto;
      height: auto;
      overflow: hidden;
    }
    p {
      font-size: 80%;
    }
  }
  @media screen and (min-width: config.$mobile_threshhold) {
    /* regular layout */
    li {
      width: 85px;
      img {
        max-width: 85px;
      }
      p {
        max-width: 85px;
      }
    }
  }
  @media screen and (max-width: config.$mobile_threshhold) {
    /* mobile layout */
    li {
      width: 80px;
    }
    img {
      max-width: 80px;
    }
    p {
      max-width: 80px;
    }
  }
}
ul#lastfm {
  height: 125px;
  li {
    height: 125px;
    width: 60px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    vertical-align: top;
    img {
      max-height: 50px;
      max-width: 50px;
      overflow: hidden;
    }
  }
}

.game_dialog {
  .game_name {
    margin: .5em 0 0 0;
    font-size: 125%;
    text-align: left;
  }
  .game_platform {
    font-size: 80%;
    font-style: italic;
    text-align: right;
  }
  .cheevo {
    margin: 1em 0 0 0;
    .cheevo_title {
      font-family: monospace, monospace;
      font-size: 90%;
      text-align: left;
    }
    .cheevo_desc {
      font-family: monospace, monospace;
      font-size: 85%;
      text-align: left;
      margin: 0 1em 0 1em;
      @include config.transparent(0.6);
    }
    .cheevo_time {
      font-style: italic;
      text-align: right;
      font-size: 80%;
    }
  }
}

.banksy {
  width: 50em;
  margin: auto;
  pre {
    display: inline;
    font-family: monospace;
    width: 50em;
  }
}

#ack {
  ul.main {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 1em 0 1em 0;
    }
  }
  ul.sub {
    margin: 0;
    padding: 0;
    li {
      list-style-type: circle;
      margin: 0 0 0 5em;
      padding: .5em 0 .5em 0;
    }
  }
}
