/* 
 * can be applied to say, list items, to make progressive items more faint
 */
.fade0 {}
.fade10 {@include transparent(0.90);}
.fade20 {@include transparent(0.80);}
.fade30 {@include transparent(0.70);}
.fade40 {@include transparent(0.60);}
.fade50 {@include transparent(0.50);}
.fade60 {@include transparent(0.45);}
.fade70 {@include transparent(0.40);}
.fade80 {@include transparent(0.35);}
.fade90 {@include transparent(0.30);}
.fade100 {@include transparent(0.25);}

/* wrap around blog post to keep it to size */
#single_post {
  max-width: 100%;
  overflow: hidden;
  p {
    max-width: 50em;
  }
  @media screen and (min-width: $mobile_threshhold) {
    /* regular layout */
    .entry-content {
      margin: 0 5em 0 5em;
    }
  }
  @media screen and (max-width: $mobile_threshhold) {
    /* mobile layout */
    .entry-content {
      margin: 0 .25em 0 .25em;
      max-width: 100%;
    }
    blockquote {
      margin: .5em 0 1em .5em;
      padding: 0 0 0 .25em;
      max-width: 100%;
    }
  }
}

.when {
  font-size: 90%
}

.tweet_block, .toot_block {
  padding: 0;
  margin: 0 auto 2em auto;
  height: 18em;
  max-width: 100%;
  overflow-y: scroll;
  background-image: image-url("scroll.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  @include rounded(1px, $faint_border_color, .75em, 0em, solid);
  @media screen and (min-width: $mobile_threshhold) {
    /* regular layout */
    width: 80%;
  }
  @media screen and (max-width: $mobile_threshhold) {
    /* mobile layout */
    width: 100%;
  }
}
ul#twitter, ul#mastodon {
  width: 96%;
  max-width: 100%;
  margin: auto;
  padding: 0;
  list-style-type: none;
  line-height: 1.125em;
  li {
    display: block;
    margin: 0;
    padding: 1em 0 1em 0;
    border-bottom: 1px $med_border_color solid;
    clear: both;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
    .summary {
      margin: 0;
      padding: 0 0 0 1em;
    }
    .metadata, .reach, .time_ago {
      font-size: 75%;
      @include transparent(0.35);
    }
    .display_name {
      display: inline;
      font-weight: bold;
    }
    .handle {
      display: inline;
      font-size: 80%;
    }
    .retweet, .boost {
      margin: 0 0 .5em 0;
    }
    .user_pic {
      width: 3em;
      float: left;
    }
    .spoiler {
      font-weight: bold;
      color: $link_color;
      cursor: pointer;
    }
    .tweet, .toot {
      width: -webkit-calc(100% - 4em);
      width: -moz-calc(100% - 4em);
      width: calc(100% - 4em);
      float: right;
      margin: 0;
      padding: 0 .5em 0 .5em;
      .user_name {
      }
      .tweet_content, .toot_content {
        img {
          display: inline-block;
        }
      }
      .reach {
        margin: .5em 0 0 0;
        span {
          margin-right: 1.5em;
        }
      }
      .invisible {
        display: none;
      }
    }
    .time_ago {
      clear: both;
      text-align: right;
    }
  }
}

ul#gaming, ul#goodreads, ul#lastfm, ul#flickr {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  height: 9.3em;
  font-size: 80%;
  line-height: 1.125em;
  @media screen and (min-width: $mobile_threshhold) {
    /* regular layout */
    li {
      display: inline-block;
      margin: 0 auto;
      width: 6em;
      height: 9em;
      text-align: center;
      vertical-align: top;
      padding: .5em 1em 3em 1em;
      float: none;
      overflow: hidden;
      img {
        max-width: 5.5em;
        max-height: 6.5em;
        overflow: hidden;
      }
    }
  }
  @media screen and (max-width: $mobile_threshhold) {
    /* mobile layout */
    li {
      display: inline-block;
      margin: 0 auto;
      width: 5.5em;
      text-align: center;
      vertical-align: top;
      padding: .5em .5em 3em .5em;
      float: none;
      overflow: hidden;
      img {
        max-width: 5em;
        max-height: 6.5em;
        overflow: hidden;
      }
    }
  }
}
ul#lastfm {
  li {
    height: 7em;
    width: 5em;
    padding: .25em .5em 3em .5em;
    img {
      max-height: 4em;
      overflow: hidden;
    }
  }
}
ul#flickr {
  $flickr_height: 15.5em;
  height: $flickr_height;
  li {
    width: 10em;
    height: $flickr_height;
    .caption {
      font-weight: normal;
    }
    img {
      margin: 0;
      padding: 0;
      max-width:  9em;
      max-height: 7em;
      @include rounded(1px, $med_border_color, .75em, .3em, none);
    }
  }
  li:hover {
    width: 10em;
    height: $flickr_height;
    .caption {
      font-weight: bold;
    }
    img {
      margin: 0;
      padding: 0;
      max-width:  11.5em;
      max-height: 7.5em;
      @include rounded(1px, $border_color, .75em, .3em, none);
    }
  }
}

.banksy {
  width: 50em;
  margin: auto;
  pre {
    display: inline;
    font-family: monospace;
    width: 50em;
  }
}

#ack {
  ul.main {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 1em 0 1em 0;
    }
  }
  ul.sub {
    margin: 0;
    padding: 0;
    li {
      list-style-type: circle;
      margin: 0 0 0 5em;
      padding: .5em 0 .5em 0;
    }
  }
}
