#allconsuming {
  width: 96%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  height: 6em;
  font-size: 80%;
  .ac-item {
    width: 8em;
    height: 6em;
    text-align: center;
    padding: 0 1em 0 1em;
    float: left;
    overflow: hidden;
    img {
      width: 5.5em;
      height: 6em;
      overflow: hidden;
    }
  }
  .ac-logo {
    display: none;
  }
}

.banksy {
  width: 50em;
  margin: auto;
  pre {
    display: inline;
    font-family: monospace;
    width: 50em;
  }
}

#ack {}