/* 
 * can be applied to say, a list item to make progressive items more faint
 */
.fade0 {}
.fade10 {@include transparent(0.95);}
.fade20 {@include transparent(0.85);}
.fade30 {@include transparent(0.75);}
.fade40 {@include transparent(0.65);}
.fade50 {@include transparent(0.55);}
.fade60 {@include transparent(0.45);}
.fade70 {@include transparent(0.35);}
.fade80 {@include transparent(0.25);}
.fade90 {@include transparent(0.15);}
.fade100 {@include transparent(0.05);}

#allconsuming {
  width: 96%;
  margin: 0 auto 3em 0;
  text-align: center;
  overflow: hidden;
  height: 6em;
  font-size: 80%;
  .ac-item {
    width: 8em;
    height: 6em;
    text-align: center;
    padding: 0 1em 0 1em;
    float: left;
    overflow: hidden;
    img {
      width: 5.5em;
      height: 6em;
      overflow: hidden;
    }
  }
  .ac-logo {
    display: none;
  }
}
.ac-padding {
  clear: both;
  height: 3em;
}

ul#lastfm {
  width: 96%;
  margin: auto;
  padding: 0;
  list-style-type: none;
  li {
    display: block;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
  }
}

ul#xbox {
  width: 96%;
  margin: auto;
  padding: 0;
  list-style-type: none;
  li {
    display: block;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
    a:hover {
      font-weight: bold;
    }
  }
}

.banksy {
  width: 50em;
  margin: auto;
  pre {
    display: inline;
    font-family: monospace;
    width: 50em;
  }
}

#ack {}