@import "config.scss";

ul#recent_games {
  width: 90%;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
  li {
    overflow: auto;
    clear: both;
    display: block;
    margin: 3em 0 3em 0;
    @include rounded(1px, $med_border_color, 2em, 1.5em, dashed);
    .gaming_image {
      display: inline-block;
      width: 7em;
      margin: 0;
      padding: 0;
      img {
        margin: 0;
      }
    }
    .gaming_details {
      display: inline-block;
      vertical-align: top;
      .time {
        font-style: italic;
      }
      .name {
        font-weight: bold;
        .year {
          display: inline;
          font-weight: normal;
          font-style: italic;
        }
      }
      .platform {
        font-style: italic;
        font-size: 80%;
      }
    }
    .gaming_achievement {
      border-top : 1px solid $faint_border_color;
      padding-top: .5em;
      @media screen and (min-width: $mobile_threshhold) {
        /* regular layout */
        margin: 1em 0 0 7.5em;
      }
      @media screen and (max-width: $mobile_threshhold) {
        /* mobile layout */
        margin: 0;
      }
      .achievement_name {
        display: inline;
        font-weight: bold;
      }
      .achievement_time {
        display: inline;
        font-style: italic;
        font-size: 80%;
      }
      .achievement_desc {
        font-family: monospace, monospace;
      }
    }
    .left {
      width: 80%;
      float: left;
    }
    .right {
      width: 20%;
      float: right;
    }
  }
  .hidden_game {
    background-color: #eeeeee;
    opacity: .6;
  }
}