@use "config";
@use "sass:color";

#recent_games {
  .game {
    @include config.rounded(1px, config.$med_border_color, 2em, 1.5em, dashed);
    .gaming_image {}
    .gaming_details {
      .time {
        font-style: italic;
      }
      .name {
        font-weight: bold;
        .year {
          display: inline;
          font-weight: normal;
          font-style: italic;
        }
      }
      .platform {
        font-style: italic;
        font-size: 80%;
      }
    }
    .gaming_achievement {
      border-top : 1px solid config.$faint_border_color;
      .achievement_name {
        display: inline;
        font-weight: bold;
      }
      .achievement_time {
        display: inline;
        font-style: italic;
        font-size: 80%;
      }
      .achievement_desc {
        font-family: monospace, monospace;
      }
    }
  }
  .hidden_game {
    background-color: color.adjust(config.$the_color, $lightness: -65%);
    opacity: .6;
  }
}