@use "config";

#hresume {
  address {
    width: 95%;
    margin: auto;
    text-align:center;
    margin-bottom: 2em;
    .fn {
      font-size: 150%;
      font-weight: bold;
    }
    .adr {
      font-size: 90%;
    }
    .email {
      font-size: 90%;
    }
    .url {
      font-size: 90%;
    }
  }
  dl {
    width: 95%;
    margin: auto;
    dt {
      font-weight: bold;
      font-size: 120%;
      text-transform: lowercase;
      border-bottom: 2px solid #777777;
      break-after: avoid;
    }
    dd {
      padding-top: .5em;
      margin: 0 0 2em 2em;
      text-align: justify;
    }
  }
  ul {
    list-style-type: circle;
    margin: 0 0 2em 1.5em;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
  ul#exp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li.experience {
      break-inside: avoid;
      padding: .5em 0 1em 0;
      .left {
        width: 60%;
        margin: 0;
        float: left;
        text-align: left;
      }
      .right {
        width: 30%;
        margin: 0;
        float: right;
        text-align: right;
      }
      .clear {
        clear: both;
        border-bottom: 1px solid #dddddd;
      }
      ul {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}