@use "config";
@use "sass:color";

/* flash notices / errors */
#flash, .flash, #error_explanation {
  clear: both;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: monospace;
  @include config.rounded(1px, config.$border_color, .5em, 1em, dotted);
  padding-top: .5em;
  ul {
    text-align: left;
  }
  h2{
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
}
.notice, #notice {
  background-color: color.adjust(config.$content_bg, $red: -36, $blue: -36);
}
.error, #error_explanation {
  background-color: color.adjust(config.$content_bg, $green: -36, $blue: -36);
}

/* used for static error pages */
.dialog {
}

/* scaffold errors */
.field_with_errors {
  margin: 0;
  padding: 0;
  display: inline;
  input {
    background-color: color.adjust(config.$content_bg, $green: -36, $blue: -36);
    border: 1px solid red;
  }
}

/* used in scaffold lists */
table.manage {
  width: 80%;
  margin: auto;
  tr {
    th, td {
      padding: .25em;
      border: 1px dotted config.$border_color;
    }
  }
}

// for scaffold management within a list
.list_manage {
  text-align: center;
  padding: .5em 0 1em 0;
}

// for drag-and-drop sortable bits
.drag {
  color: #666;
  font-size: 125%; // ≡ is small
  cursor: pointer;
}

.large_textarea {
  textarea {
    height: 250px;
  }
}

ul.scaffold_navigation, ul.item_navigation {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 100%;
    a:link, a:visited, a:active {
      text-decoration: none;
    }
  }
  li:not(:last-child) {
    padding-right: 1.2em;
  }
  li:not(:first-child) {
    padding-left: 1.2em;
    border-left: 1px solid config.$med_border_color;
  }
}
ul.scaffold_navigation {
  text-align: right;
}
ul.item_navigation {
  text-align: center;
  margin: .5em 0 1em 0;
}