#error_explanation {
  ul {
    text-align: left;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}

/* used in scaffold lists */
table.manage {
  width: 80%;
  margin: auto;
  tr {
    th, td {
      padding: .25em;
      border: 1px dotted $border_color;
    }
  }
}

/* scaffold errors */
.field_with_errors {
  display: inline;
  input {
    background-color: $content_bg - #002222;
    border: 1px solid red;
  }
}