@use "config";
@use "datatables";

@media screen and (max-width: config.$mobile_threshhold) {
  /* mobile layout */
  input#dt-search-0 {
    font-size: 16px;
  }
  table#tabletop_table {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 -1em 0 -1em !important;
    td.game_info {
      .game_bgg {
        display: none;
      }
    }
  }
}

td.game_name {
  padding-left: .75em;
  .game_image {
    margin-bottom: .75em;
    text-align: center;
    img {
      max-width: 100%;
      margin: auto;
    }
  }
}

td.player_count {
  text-align: center;
}

td.game_info {
  position: relative;
  padding-right: .75em;
  .game_desc {
    margin-bottom: 3em;
  }
  .expansions {
    margin-bottom: 3em;
    .expansion_heading {
      font-weight: bold;
      border-bottom: 1px solid config.$med_border_color;
    }
    ul {
      margin: 0 0 0 1em;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
  .game_bgg {
    position: absolute;
    bottom: .75em;
    right: .75em;
    font-size: 80%;
  }
}

.game_details {
  .game_image {
    img {
      max-width: 300px;
      min-width: 100px;
      max-width: 100%;
    }
    margin-bottom: 1em;
  }
  .game_detail {
    .game_name {
      font-weight: bold;
      font-size: 110%;
      border-bottom: 1px solid config.$med_border_color;
    }
    .game_players {
      font-style: italic;
      font-size: 90%;
      text-align: right;
    }
    .game_info {
      margin-top: 1.5em;
    }
    .game_expansions {
      margin-top: 1.5em;
      ul {
        margin: 0 0 0 1em;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
    .game_bgg {
      margin-top: 1.5em;
      font-size: 80%;
      text-align: right;
    }
  }
}