@use "config";
@use "datatables";

td {
  .game_image {
    margin-bottom: .75em;
    text-align: center;
    img {
      max-width: 100%;
      margin: auto;
    }
  }
}

td.player_count {
  text-align: center;
}

td.game_info {
  position: relative;
  .game_desc {
    margin-bottom: 2em;
  }
  .expansions {
    margin-bottom: 2em;
    .expansion_heading {
      font-weight: bold;
      border-bottom: 1px solid config.$med_border_color;
    }
    ul {
      margin: 0 0 0 1em;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
  .game_bgg {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 80%;
  }
}

.game_details {
  .game_image {
    img {
      max-width: 300px;
      min-width: 100px;
      max-width: 100%;
    }
    margin-bottom: 1em;
  }
  .game_detail {
    .game_name {
      font-weight: bold;
      font-size: 110%;
      border-bottom: 1px solid config.$med_border_color;
    }
    .game_players {
      font-style: italic;
      font-size: 90%;
      text-align: right;
    }
    .game_info {
      margin-top: 1.5em;
    }
    .game_expansions {
      margin-top: 1.5em;
      ul {
        margin: 0 0 0 1em;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
    .game_bgg {
      margin-top: 1.5em;
      font-size: 80%;
      text-align: right;
    }
  }
}