@use "config";
@use "datatables";

ul.expansion_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
  li:not(:last-child) {
    padding-bottom: .5em;
  }
  li:not(:first-child) {
    padding-top: .5em;
    border-top: 1px solid config.$faint_border_color;
  }
}

#tabletop_list {
  .row {
    .game_image {
      img {
        max-width: 300px;
        min-width: 100px;
        max-width: 100%;
      }
    }
    .game_detail {
      .game_name {
        font-weight: bold;
        font-size: 110%;
      }
      .game_players {
        font-style: italic;
        font-size: 90%;
      }
      .game_expansions {
        margin-top: 1em;
      }
      .game_info {
        margin-top: 1.5em;
      }
      .game_bgg {
        margin-top: 1.5em;
        font-size: 80%;
      }
    }
  }
  .row:not(:first-child) {
    padding-top: 2em;
  }
  .row:not(:last-child) {
    padding-bottom: 2em;
    border-bottom: 1px dashed config.$faint_border_color;
  }
}