@import "config.scss";

table#manage_tabletop {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto 2em auto;
  th, td {
    padding: 1em;
    border: 1px solid $navigation_border_color;
  }
  th {
    font-size: 110%;
    font-weight: bold;
  }
  td {
  }
  td.game_image {
    img {
      max-width: 100px;
    }
  }
}

ul#tabletop_list {
  width: 90%;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding: 0;
  list-style-type: none;
  li.tabletop_game {
    display: block;
    margin: 3em 0 3em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid $faint_border_color;
    .game_basic {
      width: 45%;
      display: inline-block;
      text-align: center;
      .game_image {
        margin-right: 1em;
        img {
          max-width: 300px;
          min-width: 100px;
          max-width: 100%;
        }
      }
    }
    .game_detail {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      .game_name {
        font-weight: bold;
        font-size: 110%;
      }
      .game_players {
        font-style: italic;
        font-size: 90%;
      }
      .game_expansions {}
      .game_info {}
      .game_bgg {
        font-size: 80%;
      }
    }
  }
  li:last-child {
    border: none;
  }
}