.tweet {
  @include rounded(1px, $faint_border_color, 1em, 1em, solid);
  text-align: left;
  width: 90%;
  margin: auto;
  margin-bottom: .5em;
  text-align: justify;
  .tweet-reply {
    text-align: right;
    font-style: italic;
    font-size: 75%;
    color: #666666;
  }
  a:link, a:visited, a:active {
    text-decoration: none;
    color: $link_color;
  }
  a:hover {
    text-decoration: none;
    color: $hover_color;
  }
}